APP_ENV=development
APP_BASE_URL=http://localhost/programacion3/Bianti-indumentaria-main/
SUPABASE_URL=https://khlxidmskfsgdzmggctw.supabase.co
SUPABASE_ANON_KEY=sb_publishable_tfFY4GbDOIo5G3hefAYSMQ_Qyi6azRP
BIANTI_WHATSAPP=5492645694047
